.two-columns__paragraph:first-child {
    margin: 0;
    padding-bottom: 30px;
  }
  
  .two-columns__paragraph:nth-child(2) {
    margin: 0;
    padding-bottom: 30px;
  }
  
  .two-columns__paragraph:last-child {
    margin: 0;
    padding-bottom: 0;
  }
  